{% extends 'base.html'%}
{% load markdown_deux_tags %}
{% block title %} 博客 {% endblock %}
{% block blog_post %}
    {% for post in posts %}
      <div class="blog-post">
        <h2 class="blog-post-title"><a href="/post/{{ post.slug }}">{{ post.title }}</a></h2>
        <p class="blog-post-meta">
            发布时间：{{ post.pub_date | date:"Y M d, h:m:s" }}
            <a href="#"></a>hqwhqwhq</a>
        </p>
        <p>
            {{ post.abstract | markdown:'codehilite' }}
        </p>
        <hr>
      </div>
    {% endfor %}
{% endblock %}